<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cohesion.challenge" level="${AKKA_LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
